.zigzag {
  position: relative;
}

.zigzag::after {
  position: absolute;
  width: 100%;
  content: ' ';

  background: linear-gradient(-45deg, #ca8a04 4px, transparent 0),
    linear-gradient(45deg, #ca8a04 4px, transparent 0);
  background-size: 8px 8px;
  top: -7px;
  height: 8px;
}
