.zigzag {
  position: relative;
}

.zigzag::after {
  position: absolute;
  width: 100%;
  content: ' ';

  background: linear-gradient(-45deg, #ca8a04 16px, transparent 0),
    linear-gradient(45deg, #ca8a04 16px, transparent 0);
  background-size: 32px 32px;
  top: -26px;
  height: 32px;
}
